TZ=Europe/Amsterdam
PUID=1000
PGID=1000
VPN_SERVICE_PROVIDER=
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=
SERVER_COUNTRIES=
SERVER_CITIES=
FIREWALL_VPN_INPUT_PORTS=
WIREGUARD_MTU=1320
