
# Pi-hole admin interface
panterlab.fritz.box {
    tls internal
    reverse_proxy pihole:80
    redir /pihole /admin
}

192.168.188.188 {
    tls internal
    reverse_proxy pihole:80
    redir /pihole /admin
}
