(pihole) {
    handle_path /pihole/* {
        reverse_proxy pihole:80
    }
}

# Pi-hole admin interface
panterlab.fritz.box {
    tls internal
    import pihole
}

192.168.188.188 {
    tls internal
    import pihole
}
